.root {
  position: relative;
  border: 1px solid #ccc;
}
.root .select-frame {
  cursor: move;
  position: absolute;
}
.root .select-frame .dashed-line {
  position: absolute;
  width: 100%;
  height: 100%;
}
.root .select-frame .dashed-line [class^=inner-line] {
  position: absolute;
  background-color: #ccc;
}
.root .select-frame .dashed-line .inner-line-v1 {
  left: 33.33%;
  width: 1px;
  height: 100%;
}
.root .select-frame .dashed-line .inner-line-v2 {
  left: 66.66%;
  width: 1px;
  height: 100%;
}
.root .select-frame .dashed-line .inner-line-h1 {
  top: 33.33%;
  height: 1px;
  width: 100%;
}
.root .select-frame .dashed-line .inner-line-h2 {
  top: 66.66%;
  height: 1px;
  width: 100%;
}
.root .select-frame .handle-box {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #39f;
}
.root .select-frame .handle-box .resize-line {
  position: absolute;
  opacity: 0.1;
  background-color: #39f;
}
.root .select-frame .handle-box .resize-line.left {
  width: 7px;
  height: 100%;
  left: -4px;
  cursor: ew-resize;
}
.root .select-frame .handle-box .resize-line.right {
  width: 7px;
  height: 100%;
  right: -4px;
  cursor: ew-resize;
}
.root .select-frame .handle-box .resize-line.top {
  height: 7px;
  width: 100%;
  top: -4px;
  cursor: ns-resize;
}
.root .select-frame .handle-box .resize-line.bottom {
  height: 7px;
  width: 100%;
  bottom: -4px;
  cursor: ns-resize;
}
.root .select-frame .handle-box .resize-corner {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #39f;
}
.root .select-frame .handle-box .resize-corner.top-left {
  left: -4px;
  top: -4px;
  cursor: nwse-resize;
}
.root .select-frame .handle-box .resize-corner.top-right {
  right: -4px;
  top: -4px;
  cursor: nesw-resize;
}
.root .select-frame .handle-box .resize-corner.bottom-left {
  left: -4px;
  bottom: -4px;
  cursor: nesw-resize;
}
.root .select-frame .handle-box .resize-corner.bottom-right {
  right: -4px;
  bottom: -4px;
  cursor: nwse-resize;
}